Package: handyhost
Version: 0.1
Section: base
Priority: optional
Architecture: all
Installed-Size: SIZE
Depends: git, curl, build-essential, curl, openssl, uidmap, unzip, libssl-dev, avahi-utils, virtualenv, expect, kubectl, p7zip-full, genisoimage, whois, nmap, docker-ce, docker-ce-cli, containerd.io 
Pre-Depends: apt-transport-https, ca-certificates, gnupg, lsb-release
Maintainer: Handy Software <alex.smith@earthlab.tech>
Description: HandyHost by Handy Software
