
#clusterStatus .subtitle{
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 200;
    background: #ddd;
    padding: 2px 10px;
    margin-left: -10px;
}
#clusterStatus .panel{
	float:left;
	width: calc(100% - 20px);
	padding: 10px;
}
#clusterStatus .nodeCounts{
	float:right;
	font-size: 14px;
}
#clusterStatus .indicator{
	margin: 0 5px;
	border-radius: 15px;
	width: 15px;
	height: 15px;
	border: 1px solid #ccc;
	float:right;
}
#clusterStatus .indicator.online{
	background:#0c0;
}
#clusterStatus .indicator.offline{
	background:#777;
}
#clusterStatus .indicator.issue{
	background:#fc0;
}

#clusterStatus .qrWrap{
	float:left;
	width: 100px;
	height: 100px;
}
.qrWrap img{
	width: 100%;
	height: 100%;
}
.balanceMeta{
	float:left;
	margin-left: 10px;
	font-size: 24px;
	font-weight:200;
}
.balanceMeta .balance{
	font-size: 36px;
	text-transform: uppercase;
	font-weight:400;
}

.donuts{
	float:left;
	width: 100%;
	height: auto;
	margin-bottom: 40px;
}
.donuts .donutChart{
	float:left;
	width: calc(22% - 1px);
	border-right: 1px solid #ccc;
	margin-right: 3%;
}

.aktPanel .donutChart.aktDonut g.pie path.on{
	fill: #af1d22 !important;
}

.donutChart .label{
	font-size: 14px;
	float:left;
	width: 100%;
}
.donutChart .swatch{
	float: left;
    width: 12px;
    height: 12px;
    margin: 2px 5px;
}
.donutChart .swatch.on{
	background:#af1d22 !important;
}

.donutChart svg text{
	font-size: 24px;
}
.donutTitle{
	color:#444;
}

.nodesResourceUsage .nodeDetail{
	float: left;
    width: 100%;
    border-left: 5px solid #ccc;
    margin-bottom: 15px;
    padding-left: 5px;
}
.nodesResourceUsage .nodeTitle{
	font-size: 20px;
}
.nodesResourceUsage ul .sectionTitle{
	font-size: 16px;
	font-weight:600;
}
.nodesResourceUsage .nodeLabel{
	color:#444;
}
.nodesResourceUsage ul{
	float:left;
	width: calc(33% - 20px);
	padding: 0 10px;
	margin:0;
	list-style-type:none;
}
.nodesResourceUsage li{
	float:left;
	width: 100%;
	padding:0;
	margin:0;
}

.balanceMeta input.walletAddress{
	border:none;
	background:rgba(51,51,51,0.1);
	padding: 2px 5px;
	font-size: 24px;
	outline:none;
	font-weight:200;
}

a.aktStatusPageLink{
	text-decoration: underline;
	cursor:pointer;
	color:#ed3624;
}
.runClusterInfo small{
	margin-left: 5px;
    font-size: 12px;
    color:#444;
}
.registerProviderModal .checkboxWrap small{
	font-size: 12px;
	color:#444;
	display: block;
    margin-left: 33px;
}

.registrationMessage .message, .walletModalContent .message{
	font-size: 30px;
    padding: 20px;
    float: left;
    font-weight:200;
}
.addNodeMessage .message0{
	font-size: 24px;
}
.addNodeMessage .message1{
	font-size: 18px;
}

.registrationMessage .error, .walletModalContent .error{
	display:none;
}
.registrationMessage .message, .walletModalContent .message{
	float:left;
	width: calc(100% - 20px) !important;
	padding: 10px !important;
}
.registrationMessage .messageIcon, .walletModalContent .messageIcon{
	float:left;
	width: 30%;
	text-align:center;
	font-size: 100px;
}
.registrationMessage .messageText, .walletModalContent .messageText{
	float:left;
	width: calc(70% - 20px);
	padding: 10px;
	word-wrap: break-word;
}
.registerProviderModal input[type="checkbox"]{
	height:20px;
	width:20px;
}
.registerProviderModal .checkboxWrap{
	padding: 2px 30px;
    font-size: 24px;
    font-weight: 200;
}

#clusterStatus .providerStat{
	clear: both;
    position: absolute;
    right: 10px;
    top: 35px;
    font-size: 14px;
    float:right;

} 
#clusterStatus .providerStat.offlineStatus{
    cursor:pointer;	
}

.nonConnected{
	color:#999;
}
.balance .locked{
	font-size: 24px;
}
.lowFundsNote{
	font-size: 16px;
	color:#555;
}
.quadrant{
	float: left;
    width: calc(20% - 1px);
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    border-right: 1px solid #ccc;
    margin-top:10px;
}
.quadrant:last-child{
	border-right:none;
}
.quadTitle{
	font-size: 16px;
	font-weight: 200;
	text-align:left;
	padding-left: 10px;
	color:#555;
}
.fetchingMessage{
	text-align:center;
	color:#555;
	padding: 20px 0;
	font-size: 18px;
	font-weight: 200;
}

#generateCertWrap{
	display: none;
}

#updateKubesprayModal .updateLogs{
	display: none;
}
#updateKubesprayModal .logsShowing{
	float: left;
	width: 80%;
	height:  70%;
	margin-left: 10%;
}
#updateKubesprayModal .logsShowing .updateLogs{
	display:  block;
    max-height: 50%;
    float: left;
    width:  100%;
    overflow-y: scroll;
    overflow-x: scroll;
}
#updateKubesprayModal .logsShowing .updateInfo{
	display: none;
}
#updateKubesprayModal .logsShowing pre{
	color: #00cc00;
    float: left;
    text-align: left;
    width: calc(100% - 20px);
    background: rgba(255,255,255,0.1);
    padding: 0px 10px;
    margin: 0;
}
#kubesprayUpdateAvailable{
	display: none;
}

